{% extends "base.html" %}
{% load static %}

{% block title %}Terminal{% endblock title %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.terminal/js/jquery.terminal.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/jquery.terminal/css/jquery.terminal.min.css" rel="stylesheet" />

{% endblock %}

{% block style %}
{% endblock %}


{% block content %}

<div id="terminal"></div>

<template id="greetings">
 |  _ \ ___ _ __ ___   ___ | |_ ___  |_   _|__ _ __ _ __ ___ (_)_ __   __ _| |
 | |_) / _ \ '_ ` _ \ / _ \| __/ _ \   | |/ _ \ '__| '_ ` _ \| | '_ \ / _` | |
 |  _ <  __/ | | | | | (_) | ||  __/   | |  __/ |  | | | | | | | | | | (_| | |
 |_| \_\___|_| |_| |_|\___/ \__\___|   |_|\___|_|  |_| |_| |_|_|_| |_|\__,_|_|
</template>

<script>

    let uuid = localStorage.getItem('user-uuid');
    console.log(screen.height);


    $('#terminal').terminal({
        cat: function (width, height) {
            const img = $('<img src="https://placekitten.com/' +
                width + '/' + height + '">');
            img.on('load', this.resume);
            this.pause();
            this.echo(img);
        },
        ss: function (quality) {
            this.echo('image quality: ' + quality);
            this.echo('Loading...');

        }
    },
        {
            height: screen.height - 100,
            greetings: '[[;lime;]' + greetings.innerHTML + ']\n\n'
        });




</script>

{% endblock %}