{% extends "base.html" %}
{% load static %}

{% block style %}
#contentBody{
padding: 1rem;
}
{% endblock style %}

{% block title %}Home{% endblock title %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/github-markdown-css@5.1.0/github-markdown-light.css">
<script src="https://cdn.jsdelivr.net/npm/markdown-it@13.0.1/dist/markdown-it.min.js"
    integrity="sha256-hNyljag6giCsjv/yKmxK8/VeHzvMDvc5u8AzmRvm1BI=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

<div id="contentBody" class="markdown-body">
    <!-- content -->
</div>

<script>
    var md = window.markdownit();

    md.options.html = true;
    md.options.highlight  = true;
    md.options.typographer = true;
    md.options.linkify = true;

    fetch('https://raw.githubusercontent.com/TanimSk/Remote-Terminal/client/Documentation/documentation.md')
        .then((response) => response.text())
        .then((content) => {
            let result = md.render(content);
            document.getElementById('contentBody').innerHTML = result;
        })



</script>

{% endblock %}