{% extends "base.html" %}
{% load static %}

{% block style %}
.notify {
width: 10rem;
margin: auto;
display: none;
}
.save-btn{
margin-right: 1rem;
font-size: 1.8rem;
}
{% endblock style %}

{% block title %}Home{% endblock title %}
{% block content %}

<h1 class="text-center pt-5 pb-5 ps-1 pe-1">
    Open Remote Terminal and enter the UUID here
</h1>

<div class="border d-flex align-items-center justify-content-center px-2" style="height: 15rem;">
    <a href="#" class="save-btn" role="button" onclick="save_uuid()" title="save uuid">
        <i class="fa-solid fa-floppy-disk"></i>
    </a>
    <div class="form-outline border d-flex">
        <i class="fa-solid fa-code trailing"></i>
        <input onfocus="show_warning(false); this.select();" onmouseup="return false;" type="text" id="uuid" class="form-control form-icon-trailing" />
        <label class="form-label" for="form1">Enter the UUID</label>
    </div>
    <button type="button" class="btn btn-primary ms-3" onclick="connect_server()">Go!</button>
</div>

<div id="alert" class="alert alert-danger text-center notify mt-5" role="alert">
    Wrong UUID!
</div>

<div id="wait" class="alert alert-success text-center notify mt-5" role="alert">
    Please Wait ...
</div>

<div id="saved" class="alert alert-success text-center notify mt-5" role="alert">
    Saved!
</div>

{% csrf_token %}

<script src="{% static 'submit_data.js' %}"></script>

<script>

    let inputField = document.getElementById('uuid');
    inputField.value = getCookie('saved_uuid');
    console.log(10);
    console.log(getCookie('saved_uuid'));


    function show_warning(state) {
        show_saved(false);
        let element = document.getElementById('alert');
        if (state) element.style.display = "block";
        else element.style.display = "none";
    }

    function show_success(state) {
        let element = document.getElementById('wait');
        if (state) element.style.display = "block";
        else element.style.display = "none";
    }

    function show_saved(state) {
        let element = document.getElementById('saved');
        if (state) element.style.display = "block";
        else element.style.display = "none";
    }

    function save_uuid() {
        let uuid = document.getElementById('uuid').value;

        if (uuid.length !== 36) {
            show_warning(true);
            return false;
        }

        setCookie("saved_uuid", uuid, 30);

        show_saved(true);
    }


    function connect_server() {
        let uuid = document.getElementById('uuid').value;

        if (uuid.length !== 36) {
            show_warning(true);
            return false;
        }

        let data = {
            uuid: uuid,
        };

        show_warning(false);
        show_success(true);

        // change page
        submit_data("{% url 'home' %}", data).then(
            response => {
                localStorage.setItem('user-uuid', uuid);
                document.open();
                document.write(response);
                document.close();
            }
        );

    }

    function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        let expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + "; " + expires + "; SameSite=None; Secure; path=/";
    }

    function getCookie(cname) {
        let name = cname + "=";
        let ca = document.cookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

</script>


{% endblock %}